@{
    ViewData["Title"] = "Index";
    var categoriesToUse = (List<Category>)ViewData["categoriesToUse"];
    var currentCategories = (List<Category>)ViewData["currentCategories"];
    var priceToUseList = (List<double>)ViewData["priceToUse"];
    var priceDeviationList = (List<double>)ViewData["priceDeviation"];
}
@{
 Layout = "~/Views/Shared/_LayoutProvider.cshtml";
}

<h1>Recommendations for the company</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Current Category that your Company serves
            </th>
            <th>
                Price to use for your category of services
            </th>
            <th>
                Your price deviation from mean price
            </th>
            <th>
                Category to serve as well
            </th>
        </tr>
    </thead>
    <tbody>
@for (int i = 0; i < currentCategories.Count; i++) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => currentCategories[i].Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => priceToUseList[i])
            </td>
            <td>
                @Html.DisplayFor(modelItem => priceDeviationList[i])
            </td>
            <td>
                @Html.DisplayFor(modelItem => categoriesToUse[i].Name)
            </td>
        </tr>
}
    </tbody>
</table>
