@{
    ViewData["Title"] = "Payment Page";
}

@{
 Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>CLIENT Home page</h2>
</div>
