@{
    ViewData["Title"] = "Payment Page";
}

@{
 Layout = "~/Views/Shared/_LayoutProvider.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>SERVICE PROVIDER Home page</a>.</h2>
</div>
